 <%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>Categories</h2>
        <ul>
            <li>Environmental - Projects focused on environmental conservation and sustainability.</li>
            <li>Educational - Projects aimed at improving education and literacy.</li>
            <li>Community Service - Projects that support community growth and development.</li>
            <li>Health and Wellness - Projects dedicated to promoting health and wellness.</li>
        </ul>
    

</main>

 <%- include('partials/footer') %>